.headingDiv{
    background-color: #3399cc;
    padding:25px;
    /* height: 100px;
    display: flex; 
    padding-left: 10px;  */
  }
  #headerOne{
    color: #ffffff;
    font-family:'Century Gothic';
    font-weight: 100;
    font-size: 53px;
    margin: 0px;
  }
  .navDiv{
    background-color: #333333;
    height: 30px;
  }
  #blogIcon{
    float: right;
    margin: 3px 28px 8px 0px;
    /* margin-right: 20px;
    margin-top: 3px; */
  }
  #homeAddBtns{
    margin-left: 17px;
    background-color: #333333;
    color: white;
    font-family: 'Ebrima';
    margin-top: 2px;
    border-style: solid;
    border-color: #333333;
    border: none;
    font-size: 18px;
    font-weight:bold;
  }
  #homeAddBtns:hover{
    background-color: #f89502 ;
    border-color: white;
    color: black;
    cursor: pointer;
    font-weight: bolder;
  }
  .componentsDiv{
    display: flex;
  }